<h1 class="page-title">Show user offer</h1>

<p>
  <strong>Name:</strong>
  <%= @user_offer.name %>
</p>

<p>
  <strong>Category:</strong>
  <%= @user_offer.category %>
</p>

<p>
  <strong>Description:</strong>
  <%= @user_offer.description %>
</p>

<p>
  <strong>Color:</strong>
  <%= @user_offer.color %>
</p>

<p>
  <strong>Price:</strong>
  <%= @user_offer.price %>
</p>

<%= link_to "Back", user_offers_path %>
