  <%= form_for(@product) do |f| %>
  <%= render "errors"%>
  <div class="form-group">
    <%= f.label :name %><br>
    <%= f.text_field :name, class: "form-control input-md", autofocus: true, placeholder: :name %><br>
  </div>
  <div class="form-group">
    <%= f.label :description %><br>
    <%= f.text_area :description, class: "form-control input-md", autofocus: true, placeholder: :description %><br>
  </div>
  <div class="form-group">
    <%= f.label :image_url %><br>
    <%= f.text_field :image_url, class: "form-control input-md", autofocus: true, placeholder: :image_url %><br>
  </div>
  <div class="form-group">
    <%= f.label :color %><br>
    <%= f.text_field :color, class: "form-control input-md", autofocus: true, placeholder: :color %><br>
  </div>
  <div class="form-group">
    <%= f.label :price %><br>
    <%= f.text_field :price, class: "form-control input-md", autofocus: true, placeholder: :price %><br>
  </div>
  <% if signed_in? && current_user.admin? %>
    <div class="form-group">
      <%= f.label :public %><br>
      <%= f.text_field :public, class: "form-control input-md", autofocus: true, placeholder: :public %><br>
    </div>
  <% end %>
  <div class="actions">
    <%= f.submit class: "btn btn-default" %>
  </div>
<% end %>
