

<div class="container-fluid fixed bg-color-change">
  <div class="search-and-previous-page-wrapper">
    <!-- link to previous page -->
    <%= render "shared/previous_page" %>
    <%= render "shared/tablet_desktop_search_form" %>
  </div>
</div>
<h1 class="page-title title-down">Buy</h1>
<!-- separator-->
<%= render 'shared/separator' %>
<%= render "shared/alert" %>
<div class="container mobile-tablet-hidden fade-out">

  <div class="row is-flex special-offer-wrapper">

    <%= render "offer_title_wrapper" %>

    <div class="col-sm-6 col-sm-offset-0 col-xs-10 col-xs-offset-1">
      <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
        <!-- Indicators -->
        <ol class="carousel-indicators">
          <% @special_offers.each do |special_offer| %>
            <li data-target="#carousel-example-generic" class="<%= "active" if special_offer == @special_offers.first %>"></li>
          <% end %>
        </ol>
        <!-- Wrapper for slides -->
        <div class="carousel-inner" role="listbox">
          <% @special_offers.each do |special_offer| %>
            <%= render partial: "special_offer", locals: {special_offer: special_offer} %>
          <% end %>
        </div>
        <!-- Controls -->
        <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
          <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
          <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div><!-- /carousel -->
    </div>

    <%= render "offer_title_wrapper" %>
    <button type="button" class="btn btn-default close-offer">
      <i class="fa fa-times" aria-hidden="true"></i>
    </button>
  </div><!-- /special-offer -->
  <%= render "shared/separator" %>
</div><!-- /container -->



<div class="container">
  <div class="row is-flex">
    <!-- renders _product.html.erb for each product -->
    <%= render @products %>

  </div> <!-- /row -->
</div><!-- /container -->
<br>

<%#= link_to 'New Product', new_product_path, class: "scaffolded-link" %>
